/* Стили для главной стр */
html {
    scroll-behavior: smooth;
}
.adaptive-img-v {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* Используем 100% ширины относительно родительского элемента */
    height: auto; /* Автоматическая высота для сохранения пропорций изображения */
}

.adaptive-img-fon {
    position: absolute;
    width: 100%; /* Используем относительные единицы для ширины и высоты */
    height: auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #ffc736;
    color: #fff;
    padding: 20px 0;
}
/* Стилизация для десктопной версии */
.menu {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
}

.menu li {
    display: inline-block; /* Отображаем пункты в строку */
    margin-right: 20px; /* Добавляем отступ между пунктами */
}

.menu li:last-child {
    margin-right: 0; /* Убираем отступ у последнего пункта */
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

/* Скрытие значка бургер-меню на десктопной версии */
.burger-icon {
    display: none;
}

/* Стилизация для мобильных устройств */
@media screen and (max-width: 768px) {
    .burger-menu {
        display: flex; /* Показываем бургер-меню только на мобильных устройствах */
        align-items: center;
    }

    .burger-icon {
        display: block; /* Показываем значок бургер-меню только на мобильных устройствах */
        font-size: 24px;
        cursor: pointer;
        margin-right: 10px;
    }

    .menu {
        display: none; /* Изначально скрываем меню */
        transition: all 0.3s ease; /* Добавляем плавную анимацию при изменении свойств */
    }
    
    .menu.open {
        display: flex !important; /* При наличии класса open меню отображается */
        flex-direction: column; /* Отображаем пункты вертикально */
        align-items: center;
        opacity: 1; /* Добавляем прозрачность */
    }

    .menu.open li {
        margin-bottom: 10px; /* Отступ между пунктами в бургер-меню */
    }
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 32px;
    color: #fff;
    display: flex; /* Добавляем этот стиль для выравнивания логотипа и текста */
    align-items: center; /* Чтобы элементы выровнялись по вертикали */
}

nav h1 img {
    margin-right: 10px; /* Добавляем небольшой отступ между логотипом и текстом */
    height: 40px; /* Устанавливаем высоту логотипа */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0; /* Избегаем отступа у первого элемента */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 50px 0;
}

#about, #branches, #cta {
    background-color: #f8f8f8;
    text-align: center;
}

#about h2, #branches h2, #cta h2 {
    margin-bottom: 20px;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center; /* Центрируем заголовок */
}

h2 {
    margin-bottom: 30px;
}

.branches-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex-basis: calc(45% - 10px); /* Уменьшаем ширину колонок до 45% */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.branch2 {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Левое выравнивание для контента */
}

.sub-branches {
    width: 100%;
    margin-top: 20px;
}

.sub-branch {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left; /* Левое выравнивание для контента */
}


/* Адаптивность */
@media (max-width: 768px) {
    .column {
        flex-basis: 100%; /* На малых экранах одна колонка */
        margin-bottom: 20px;
    }
}


footer p {
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc736;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}



/*футер*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #ffc736;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ffc736;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.footer-info .social-media,
.footer-info .contact-info {
    margin-bottom: 10px;
}

.footer-info a {
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-info a:hover {
    color: #ffffff;
}

.footer-info p {
    margin: 5px 0;
    color: #333;
}
/* Стили для личного кабинета */
#profile {
    padding: 20px 0;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile .profile-info {
    display: flex;
    align-items: center;
}

#profile .profile-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

#profile .info {
    flex: 1;
}

#profile .info h3 {
    margin-top: 0;
    color: #333;
}

#cours {
    padding: 20px 0;
    border-radius: 5px;
}

#courses .course-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#courses .course-item {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#courses .course-item h3 {
    color: #000000;
}

.progress {
    background: #85FFB6;
    height: 20px;
}

.progress-bar {
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.continue-btn:hover {
    background: #ffc736;
}



/* Стили для прогресса прохождения курсов */
.progress-bar-inner {
    background-color: #ffc736;
    border-radius: 10px;
    height: 100%;
}

/* Стили для количества купленных курсов */
.course-count {
    font-weight: bold;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    width: 100%;
    height: auto;
}
.user-info {
    margin-bottom: 20px; /* Отступ снизу */
    margin-right: 20px; /* Отступ справа */
}

.progress-info {
    margin-bottom: 20px; /* Отступ снизу */
    margin-left: 20px; /* Отступ слева */
}

/* Стили для модального окна */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    animation: fadeIn 0.5s; 
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border-radius: 10px; 
    border: none;
    width: 80%; 
    max-width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s;
    text-align: center; 
}

@keyframes slideDown {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}

.close {
    color: #ffc736;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -10px; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 5px; 
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    outline: none;
    border-bottom: 2px solid #ffc736; 
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #85FFB6;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffb400; 
}

.logo {
    width: 100px; 
    margin-bottom: 20px; 
}

.error-message {
    color: red;
    font-size: 12px;
}

/* Стили для вкладок */

.tab button {
    background-color: #20190725;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 14px;
    margin: 0 2px;
    border-radius: 5px 5px 0 0;
}

.tab button:hover {
    background-color: #ffc736;
}

.tab button.active {
    background-color: #ffc736;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}


/*календарь*/
#calendar-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffc736;
    color: #ffffff;
}

#calendar-header h2 {
    margin: 0;
}

#calendar-header button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#calendar {
    width: 100%;
    border-collapse: collapse;
}

#calendar th, #calendar td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

#calendar td {
    cursor: pointer;
}

#calendar .today {
    background-color: #f0f0f0;
}

#calendar .event {
    background-color: #ffc736;
}

#event-form-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#event-form {
    display: flex;
    flex-direction: column;
}

#event-form label {
    margin-bottom: 5px;
}

#event-form input {
    margin-bottom: 10px;
    padding: 5px;
}

#event-form button {
    padding: 5px 10px;
    background-color: #ffc736;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#event-form button:hover {
    background-color: #ffc736;
}
@media (max-width: 768px) {
    #schedule-container {
        flex-direction: column;
    }

    #calendar-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #event-form-container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #calendar-header {
        flex-direction: column;
        text-align: center;
    }

    #calendar-header button {
        margin: 5px 0;
    }
}




#course-calendar-container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px; /* Добавляем отступ сверху, чтобы отделить календарь от предыдущего раздела */
}

#course-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffc736;
    color: #ffffff;
}

#course-calendar-header h2 {
    margin: 0;
}

#course-calendar-header button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#course-calendar {
    width: 100%;
    border-collapse: collapse;
}

#course-calendar th, #course-calendar td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

#course-calendar td {
    cursor: pointer;
}

#course-calendar .today {
    background-color: #f0f0f0;
}

#course-calendar .course-day {
    background-color: #ffc736;
}



  
