.adaptive-img-v {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* Используем 100% ширины относительно родительского элемента */
    height: auto; /* Автоматическая высота для сохранения пропорций изображения */
}

.adaptive-img-fon {
    position: absolute;
    width: 100%; /* Используем относительные единицы для ширины и высоты */
    height: auto;
}
